.minesweeper {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.hidden, .visible {
  width: 15px;
  height: 15px;
  padding: 2px;
  border: 1px;
  border-style: solid;
  cursor: pointer;
}

.hidden {
  background-color: lightblue;
}

.visible {
  background-color: white;
}

.flag {
  background-color: green;
}

.lose {
  background-color: red;
}

.active {
  background-color: gold;
}

.button {
    display: inline-block;
    border: none;
    border-radius: 25px;
    padding: 5px 15px;
    margin: 10px 0px;
    text-decoration: none;
    background-color: yellow;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

.button:hover, .button:focus {
    background: gold;
    color: black;
}

.button:focus {
    outline: none;
}