.minesweeper {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.hidden, .visible {
  width: 15px;
  height: 15px;
  padding: 2px;
  border: 1px;
  border-style: solid;
  cursor: pointer;
}

.hidden {
  background-color: lightblue;
}

.visible {
  background-color: white;
}

.flag {
  background-color: green;
}

.lose {
  background-color: red;
}